.App {
  position: relative;
  padding: 100px;
}

.top-half {
  height: 800px;
}

.side-ways-rect {
  position: absolute;
  width: 150%;
  height: 600px;
  background: #87BC62;
  transform: translate(-400px, -300px) rotate(-15deg);
  z-index: -1;
}

.tutor-profile {
  position: absolute;
  right: 100px;
  box-shadow: -1px 2px 8px #555555;
  z-index: 2;
}

.list-of-tutors {
  position: absolute;
  top: 150px;
  right: 330px;
  box-shadow: -1px 2px 8px #555555;
  z-index: 2;
}